.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
*.egg-info
dist
build
.env
.env.*
.venv
venv
env
.vscode
.idea
*.iml
.DS_Store
Thumbs.db
README.md
LICENSE
.ruff_cache
terraform
*.tfstate
*.tfstate.*
.terraform
