# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/

# Testes e cobertura
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
.env.*

# Outros Ignores manuais
minha_api.egg-info/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Docker
.docker/
docker-compose.override.yml

# AWS
*.pem
*.pub
